//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #093272;
$secondary: #3FE4A9;
$success: #3FE4A9;
$danger: #FC065E;
$warning: #F8954D;
$info: #3CCBE9;
$dark: #333D4A;
$light: #CCD6DE;

// Options

$enable-responsive-font-sizes: true !default; // enable rfs for the application
