//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #3fe4c6;
$secondary: #c9794a;
$success: #06c2a1;
$danger: #d12764;
$warning: #f8954d;
$info: #3ce9d4;
$dark: #333d4a;
$light: #ccd6de;

// Options

$enable-responsive-font-sizes: true !default; // enable rfs for the application
